<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Welcome to XLRS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
	<style>
		 body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
	</style>
</head>
<body style="margin: 0; padding: 0;">

	<table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
		<tr>
			<td height="10"></td>
		</tr>
		<tr>
			<td align="center">
				<img src="https://xlrs.com/assets/images/logo.png" width="270" height="54"/>
			</td>
		</tr>
		<tr>
			<td height="20"></td>
		</tr>
		<tr>
			<td style="font-family: sans-serif; font-size: 16px; padding-left: 16px; padding-right: 12px; line-height: 18px; color:#f16f6f">
				Hello <strong><label th:text="${' ' + recipientName+','}"></label></strong>
			</td>
		</tr>
		<tr>
			<td style="font-family: sans-serif; font-size: 13px; padding-left: 16px; padding-right: 12px; line-height: 18px; color:#f16f6f">
				<p> Please use the one time password mentioned below to validate your email address.</p>
			</td>
		</tr>
		<tr>
			<td height="20"></td>
		</tr>
		<tr align="center">
          <td style="border-radius:10px;color:#fff;padding:7px 7px" align="center" bgcolor="#f16f6f">
          <strong> 
          	<label th:text="${otpToken}"  
          		style="display:inline-block;text-decoration:none;color:#fff;font-family:sans-serif;font-size:15px;font-weight:normal;margin:0px;">
               
            </label>
          </td>
        </tr>
		
		<tr>
			<td height="10"></td>
		</tr>
		
		<tr>
			<td height="40"	style="font-family: sans-serif; color:#0c7b86;font-size: 12px; text-align: left; padding:9px 9px; padding-left: 10px;">
				This email was sent to you by xlrs.com because you have been added to XLRS organisation. 
				if you feel that you haven't registered to this account and the email was sent to you by error. Please write to us at <a href="mailto:contacts@xlrs.com"> contact@xlrs.com. </a>
				<!-- <p>Please click <a href="http://exceleris.com"> <strong>here</strong> </a> to know more about our privacy policy and terms of usage.</p> -->
			</td>
		</tr>
		<tr bgcolor="#ffffff">
			<td height="1"></td>
		</tr>
		<tr>
			<td bgcolor="#75cac3" height="10"
				style="font-family: sans-serif; font-size: 16px; color: #FFFFFF; font-weight: normal; padding: 10px;">
				<strong>XLRS - Redefining Accounting!</strong>
			</td>
				
		</tr>
	</table>
</body>
</html>